---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-xl">
        {project.data.title} - <span class="text-lg">
          {formatDate(project.data.publishedAt)}
        </span>
      </h1>
      <p class="italic">{project.data.description}</p>
      <div>
        <div class="flex select-none gap-2 py-4">
          <p
            class="w-fit rounded-md bg-neutral-900 px-4 py-1 transition-all duration-300 hover:-translate-y-1 hover:border-neutral-400"
          >
            {project.data.project_type}
          </p>
          <p
            class="w-fit rounded-md bg-neutral-900 px-4 py-1 transition-all duration-300 hover:-translate-y-1 hover:border-neutral-400"
          >
            {project.data.status}
          </p>
        </div>
      </div>
    </header>

    <Content />
  </main>
</Layout>
